[submodule "borg"]
	path = lib/borg
	url = git@github.com:emacscollective/borg.git
[submodule "closql"]
	path = lib/closql
	url = git@github.com:emacscollective/closql.git
[submodule "emacsql"]
	path = lib/emacsql
	url = git@github.com:skeeto/emacsql.git
	no-byte-compile = emacsql-pg.el
[submodule "epkg"]
	path = lib/epkg
	url = git@github.com:emacscollective/epkg.git
[submodule "helm"]
	path = lib/helm
	url = git@github.com:emacs-helm/helm.git
[submodule "use-package"]
	path = lib/use-package
	url = git@github.com:jwiegley/use-package.git
[submodule "zenburn-theme"]
	path = lib/zenburn-theme
	url = git@github.com:bbatsov/zenburn-emacs.git
[submodule "slime"]
	path = slime
	url = https://github.com/slime/slime.git
